@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  a{
    text-decoration: none;
  }
}



::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 4px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}


::-webkit-scrollbar-corner {
  background: #E4E4E4;
}